In [52]:
                                   #DATA PREPROCESSING AND DATA CLEANING

In [1]:
#Read my dataset into the Jupyter Notebook
import pandas as pd
df=("user_behavior_dataset.csv")
read=pd.read_csv(df)
read

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
...,...,...,...,...,...,...,...,...,...,...,...
695,696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
696,697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
697,698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
698,699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
699,700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

In [3]:
#Display the first 11 rows from index 0
read.head(11)

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
5,6,Google Pixel 5,Android,99,2.0,940,35,564,31,Male,2
6,7,Samsung Galaxy S21,Android,350,7.3,1802,66,1054,21,Female,4
7,8,OnePlus 9,Android,543,11.4,2956,82,1702,31,Male,5
8,9,Samsung Galaxy S21,Android,340,7.7,2138,75,1053,42,Female,4
9,10,iPhone 12,iOS,424,6.6,1957,75,1301,42,Male,4
10,11,Google Pixel 5,Android,53,1.4,435,17,162,34,Female,1

In [7]:
#Display the last 10 rows
read.tail(10)

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
690,691,Google Pixel 5,Android,195,5.7,1447,48,679,30,Male,3
691,692,iPhone 12,iOS,178,4.0,856,37,569,51,Female,2
692,693,Xiaomi Mi 11,Android,378,6.7,1898,78,1455,48,Female,4
693,694,Xiaomi Mi 11,Android,505,8.6,2792,82,1709,31,Male,5
694,695,Samsung Galaxy S21,Android,564,9.7,2422,83,1985,34,Female,5
695,696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
696,697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
697,698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
698,699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
699,700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

In [19]:
#display the total number of rows and columns in the dataset
read.shape

(700, 11)

In [15]:
#The columns in the dataset described
read.columns

Index(['User ID', 'Device Model', 'Operating System',
       'App Usage Time (min/day)', 'Screen On Time (hours/day)',
       'Battery Drain (mAh/day)', 'Number of Apps Installed',
       'Data Usage (MB/day)', 'Age', 'Gender', 'User Behavior Class'],
      dtype='object')

In [21]:
#Check for datatypes in the columns of the dataset
read.dtypes

User ID                         int64
Device Model                   object
Operating System               object
App Usage Time (min/day)        int64
Screen On Time (hours/day)    float64
Battery Drain (mAh/day)         int64
Number of Apps Installed        int64
Data Usage (MB/day)             int64
Age                             int64
Gender                         object
User Behavior Class             int64
dtype: object

In [23]:
#General overview of the dataset
read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User ID                     700 non-null    int64
 1   Device Model                700 non-null    object
 2   Operating System            700 non-null    object
 3   App Usage Time (min/day)    700 non-null    int64
 4   Screen On Time (hours/day)  700 non-null    float64
 5   Battery Drain (mAh/day)     700 non-null    int64
 6   Number of Apps Installed    700 non-null    int64
 7   Data Usage (MB/day)         700 non-null    int64
 8   Age                         700 non-null    int64
 9   Gender                      700 non-null    object
 10  User Behavior Class         700 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 60.3+ KB

In [25]:
#Check for duplicates in the rows and columns
read.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
695    False
696    False
697    False
698    False
699    False
Length: 700, dtype: bool

In [27]:
#Sum of the duplicates found
read.duplicated(). sum()

0

In [29]:
#Summary statistics for quantitative data
read.describe()

,User ID,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,User Behavior Class
count,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,350.50000,271.128571,5.272714,1525.158571,50.681429,929.742857,38.482857,2.990000
std,202.21688,177.199484,3.068584,819.136414,26.943324,640.451729,12.012916,1.401476
min,1.00000,30.000000,1.000000,302.000000,10.000000,102.000000,18.000000,1.000000
25%,175.75000,113.250000,2.500000,722.250000,26.000000,373.000000,28.000000,2.000000
50%,350.50000,227.500000,4.900000,1502.500000,49.000000,823.500000,38.000000,3.000000
75%,525.25000,434.250000,7.400000,2229.500000,74.000000,1341.000000,49.000000,4.000000
max,700.00000,598.000000,12.000000,2993.000000,99.000000,2497.000000,59.000000,5.000000

In [37]:
read.isnull().sum()

User ID                       0
Device Model                  0
Operating System              0
App Usage Time (min/day)      0
Screen On Time (hours/day)    0
Battery Drain (mAh/day)       0
Number of Apps Installed      0
Data Usage (MB/day)           0
Age                           0
Gender                        0
User Behavior Class           0
dtype: int64

In [41]:
#Once completeness has been achieved uniqueness is automatically proven

In [48]:
import pandas as pd

#the dataframe
dataset=("user_behavior_dataset.csv")
read=pd.read_csv(dataset)

#Identify numerical columns
numeric_read=read.select_dtypes(include='number')

#Calculate Q1 and Q3 and IQR
Q1=numeric_read.quantile(0.25)
Q3=numeric_read.quantile(0.75)
IQR=Q3-Q1

#Define outlier bounds
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

#Create a mask for outliers (Use logical conditions to identify rows that contain outliers in any numerical column)
outlier_mask=~((numeric_read<lower_bound)|(numeric_read>upper_bound)).any(axis=1) #axis=1 confirms that we are working on rows

#Filter the Dataframe to remove outliers,keeping non-numerical columns
read_no_outliers=read[outlier_mask]

#Display the results
print("Original Dataframe:")
print(read)
print("\nDataFrame without outliers:")
print(read_no_outliers)

Original Dataframe:
     User ID        Device Model Operating System  App Usage Time (min/day)  \
0          1      Google Pixel 5          Android                       393
1          2           OnePlus 9          Android                       268
2          3        Xiaomi Mi 11          Android                       154
3          4      Google Pixel 5          Android                       239
4          5           iPhone 12              iOS                       187
..       ...                 ...              ...                       ...
695      696           iPhone 12              iOS                        92
696      697        Xiaomi Mi 11          Android                       316
697      698      Google Pixel 5          Android                        99
698      699  Samsung Galaxy S21          Android                        62
699      700           OnePlus 9          Android                       212

     Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                           6.4                     1872
1                           4.7                     1331
2                           4.0                      761
3                           4.8                     1676
4                           4.3                     1367
..                          ...                      ...
695                         3.9                     1082
696                         6.8                     1965
697                         3.1                      942
698                         1.7                      431
699                         5.4                     1306

     Number of Apps Installed  Data Usage (MB/day)  Age  Gender  \
0                          67                 1122   40    Male
1                          42                  944   47  Female
2                          32                  322   42    Male
3                          56                  871   20    Male
4                          58                  988   31  Female
..                        ...                  ...  ...     ...
695                        26                  381   22    Male
696                        68                 1201   59    Male
697                        22                  457   50  Female
698                        13                  224   44    Male
699                        49                  828   23  Female

     User Behavior Class
0                      4
1                      3
2                      2
3                      3
4                      3
..                   ...
695                    2
696                    4
697                    2
698                    1
699                    3

[700 rows x 11 columns]

DataFrame without outliers:
     User ID        Device Model Operating System  App Usage Time (min/day)  \
0          1      Google Pixel 5          Android                       393
1          2           OnePlus 9          Android                       268
2          3        Xiaomi Mi 11          Android                       154
3          4      Google Pixel 5          Android                       239
4          5           iPhone 12              iOS                       187
..       ...                 ...              ...                       ...
695      696           iPhone 12              iOS                        92
696      697        Xiaomi Mi 11          Android                       316
697      698      Google Pixel 5          Android                        99
698      699  Samsung Galaxy S21          Android                        62
699      700           OnePlus 9          Android                       212

     Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                           6.4                     1872
1                           4.7                     1331
2                           4.0                      761
3                           4.8                     1676
4                           4.3                     1367
..                          ...                      ...
695                         3.9                     1082
696                         6.8                     1965
697                         3.1                      942
698                         1.7                      431
699                         5.4                     1306

     Number of Apps Installed  Data Usage (MB/day)  Age  Gender  \
0                          67                 1122   40    Male
1                          42                  944   47  Female
2                          32                  322   42    Male
3                          56                  871   20    Male
4                          58                  988   31  Female
..                        ...                  ...  ...     ...
695                        26                  381   22    Male
696                        68                 1201   59    Male
697                        22                  457   50  Female
698                        13                  224   44    Male
699                        49                  828   23  Female

     User Behavior Class
0                      4
1                      3
2                      2
3                      3
4                      3
..                   ...
695                    2
696                    4
697                    2
698                    1
699                    3

[700 rows x 11 columns]

In [50]:
#Outliers have not been found hence dataframe mantains its original shape of 700 rowsx 11columns